/* Body CSS */
body {
	font-family: 'Libre Baskerville', serif;
}

/* Header CSS */
header {
	display: flex;
	width: 100%;
	color: white;
	background-color: #B18CFF;
	padding: 0.5rem 0.5rem;
	margin-bottom: 2rem;
}

header p {
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
	visibility: hidden;
}

header img {
	border-radius: 50%;
	width: 3rem;
	margin-left: auto;
}

/* Navbar CSS */
nav a {
	margin: 0 1rem;
	font-size: 1.75rem;
	color: white;
	text-decoration: none;
}


nav a:hover, nav a:focus, nav a:active {
	color: white;
	text-decoration-line: underline;
}

/* Current Plan Page CSS */
/* Informational bar CSS */
.info {
	display: flex;
	justify-content: center;
}

.text {
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
	visibility: hidden;
}


form {
	margin-left: 1rem;
}

input {
	border-radius: 6px;
	border-color: black;
	width: 40%;
}

input:active, input:focus {
	border-radius: 6px;
	border-color: black;
}

.plan {
	display: flex;
	margin: 1rem 5rem;
	flex-wrap: wrap;
	flex-flow: column wrap-reverse;
	align-content: center;
}

div.plan-card {
	display: flex;
}


/* card css */
.card {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 40rem;
	height: 20rem;
	background-color: #7f7eff;
	border-radius: 12px;
	padding: 1rem;
	margin: 1rem;
}

.title {
	margin-right: auto;
	margin-bottom: .5rem;
	height: fit-content;
}

.title p {
	color: white;
	font-size: 2rem;
	margin: 0;
}

.status {
	border-radius: 12px;
	height: fit-content;
}

.accepted {
	background-color: #1b8563;
}

.pending {
	background-color: #AB9402;
}

.rejected {
	background-color: #CC5B49;
}

.planning {
	background-color: #424242;
}

.status p {
	font-size: 1rem;
	margin: 1rem 1rem;
	color: white;
	height: fit-content;
}

.to-do {
	display: flex;
	flex-direction: column;
	background-color: #00a2c7;
	border-radius: 12px;
	margin-right: 1rem;
	padding: 1rem;
	width: 21rem;
}

.checkbox-wrapper {
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
}

.checkbox-wrapper input {
	width: 6%;
	margin-top: 0.3rem;
	margin-right: 0.5rem;
}

.checkbox-wrapper label {
	color: white;
}

.amount {
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	background-color: #5770C9;
	margin-left: 1rem;
	height: fit-content;
	width: 14.5rem;
}

.amount p {
	text-align: center;
	color: white;
	margin: 1rem 1rem;
}

/* Button CSS */
.buttons {
	display: flex;
}

button {
	background-color: #C4C4C4;
	border-style: none;
	color: black;
	border-radius: 24px;
	font-size: 24px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	margin: 12px 12px;
}


button:first-child {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.buttons button:last-child {
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
	visibility: hidden;
}

.arrow-button {
	background-color: Transparent;
	box-shadow: none;
}

.arrow {
	border: solid black;
	border-width: 0 15px 15px 0;
	display: inline-block;
	padding: 10px;
	visibility: visible;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);

}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

footer {
	position: static;
	bottom: 0;
}

/* Explore page CSS */
.explore-page {
	display: flex;
	flex-flow: column wrap-reverse;
}

.filter-by p:first-child {
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
	visibility: hidden;
}

.filter-by {
	display: flex;
	flex-direction: row;
	color: black;
	margin-left: 1rem;
	border-radius: 12px;
	height: fit-content;
}

.filter-by p {
	margin: 1rem 1rem;
}

.filter-by label {
	margin: 1rem 1rem;
}

.plan-card {
	display: flex;
	flex-direction: column;
}

.filter-text button {
	font-size: 24px;
}

.aid-range-wrapper {
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
	visibility: hidden;
}

.explore-plan {
	display: flex;
	padding: 0.5rem;
	flex-flow: row wrap;
	border-radius: 12px;
	font-size: 12px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
	align-items: center;
	justify-content: center;
}

.card-button {
	background-color: #B18CFF;
	color: white;
	font-size: 24px;
	margin-top: 1rem;
	margin-left: 2rem;
}

.college-wrapper label {
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
	visibility: hidden;
}

.explore-page p {
	margin: 1rem;
}

.explore-page button {
	padding: 0.5rem;
}

.college-wrapper input {
	margin-top: 1rem;
	height: 50px;
	width: 400px;
	font-size: 14pt;
}

/* Desktop Layout */
@media (min-width: 962px) {
	header p {
		position: relative;
		margin-top: 0rem;
		margin: 0rem;
		padding: 0.75rem 0.75rem;
		height: fit-content;
		margin-left: auto;
		visibility: visible;
	}

	nav a {
		font-size: 2rem;
	}

	.text {
		position: relative;
		margin-top: 0;
		margin-left: 0;
		display: flex;
		font-size: 1.25rem;
		visibility: visible;
	}

	button {
		background-color: #B18CFF;
		color: white;
		border-radius: 12px;
		margin-right: 1rem;
	}

	.buttons button:last-child {
		position: relative;
		margin-top: 1rem;
		margin-left: 1rem;
		visibility: visible;
	}

	.arrow-button {
		position: absolute;
		margin-top: -100px;
		margin-left: -100px;
		visibility: hidden;
	}

	.arrow {
		visibility: hidden;
	}

	.plan {
		flex-flow: row wrap;
		justify-content: center;
	}

	.explore-plan {
		flex-direction: row;
	}

	.explore-page {
		flex-flow: row;
	}

	.college-wrapper label {
		position: relative;
		margin-top: 1rem;
		margin-left: 1rem;
		visibility: visible;
	}

	.filter-by p:first-of-type {
		position: relative;
		margin-top: 1rem;
		margin-left: 1rem;
		visibility: visible;
	}

	.filter-by button:first-of-type {
		visibility: hidden;
		position: absolute;
		margin-top: -100px;
		margin-left: -100px;
		visibility: hidden;
	}

	.filter-by {
		background-color: #B18CFF;
		color: white;
		flex-direction: column;
		margin: 0.5rem;
	}

	.aid-range-wrapper {
		position: relative;
		margin-top: 0rem;
		margin-left: 1rem;
		visibility: visible;
	}

	.college-wrapper input {
		margin-top: 0rem;
		height: 30px;
		width: 100px;
		font-size: 14pt;
	}

	.filter-by p:last-of-type {
		visibility: hidden;
		position: absolute;
		margin-top: -100px;
		margin-left: -100px;
		visibility: hidden;
	}
}

/*
@media (max-width: 962px) {
	
}*/