nav {
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	color: white;
	background-color: #B18CFF;
	padding: 0.5rem 0.5rem 0.5rem;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav li {
	display: inline;
	margin: 0 2rem;
	margin: 0 1rem;
	font-size: 2rem;
	font-family: 'Libre Baskerville', serif;
}

section{
	margin-top: 2rem;
}


#card-button {
	position: absolute;
	left: 2180px;
	border-radius: 25px;
	padding: 20px;
	width: 180px;
	height: 70px;
	border: 3px solid green;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  margin-top: 5rem;
  margin-right: 2rem;
}

.info p{
	margin-right: 2rem;
}

#template-button{
	background-color: gray;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
}

#template-button p {
  padding: 1rem 0.5rem 0.5rem;
}

li a {
	color: white;
	text-decoration: none;
}

li a:hover, li a:focus, li a:active {
	color: white;
	text-decoration-line: underline;
}