/* Mobile first layout. Some of these CSS rules
   carry over to the desktop version of the site.
*/

 /* Body CSS */
body {
    font-family: 'Libre Baskerville', serif;
}

/* Header CSS */
header {
    display: flex;
    flex-flow: row;
    width: 100%;
    color: white;
    background-color: #B18CFF;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
header h1 { /* controls visibility of tag line */
    display: none;
}

header img {
    border-radius: 50%;
    width: 3rem;
    margin-left: auto;
}


/* Navbar CSS */
.menu {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 1rem;
    font-size: 1.75rem;
    color: white;
    text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
    color: white;
    text-decoration-line: underline;
}


/* Current Plan Page CSS */


/* Informational bar CSS */

.info {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.text { /* Hides the information bar when the screensize is small */
    display: none;
}

form {
    margin-left: 1rem;
}

input {
    border-radius: 6px;
    border-color: black;
    width: 40%;
}

input:active,
input:focus {
    border-radius: 6px;
    border-color: black;
}

.plan {
    display: flex;
    margin: 1rem 5rem;
    flex-flow: row wrap;
    align-content: center;
}


/* card css */
.card {
    display: flex;
    flex-flow: row wrap;
    width: 40rem;
    background-color: #7f7eff;
    border-radius: 12px;
    padding: 0.5rem;
    margin: 1%;
}

.title {
    margin-right: 28%;
    margin-bottom: 1%;
}

.title h1 {
    color: white;
    font-size: 200%;
    margin: 0;
}

.title a,
.title a:active,
.title a:focus {
    color: #011B4B;
    text-decoration: none;
}

.status {
    border-radius: 12px;
    height: fit-content;
}

.status p {
    font-size: 100%;
    margin: 7% 1rem;
    color: white;
}

.accepted {
    background-color: #1b8563;
}

.pending {
    background-color: #AB9402;
}

.rejected {
    background-color: #CC5B49;
}

.planning {
    background-color: #424242;
}


.to-do {
    display: flex;
    flex-flow: column;
    background-color: #00a2c7;
    border-radius: 12px;
    margin-right: 1rem;
    padding: 1rem;
    width: 55%;
}

.checkbox-wrapper {
    display: flex;
    flex-flow: row;
    margin-bottom: 1rem;
}

.checkbox-wrapper input {
    width: 6%;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}

.checkbox-wrapper label {
    color: white;
}

.amount {
    display: flex;
    flex-flow: column;
    border-radius: 12px;
    background-color: #5770C9;
    margin-left: 2.5%;
    width: 38.5%;
}

.amount p {
    text-align: center;
    color: white;
    margin: 5% 1%;
}

/* PopUp CSS*/
.pop_bg {
    z-index: 1;
    width: 40%;
    height: 500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
form label {
    margin-top: 30px;
}

form input {
    margin-left: 4%;
}

.form_submit {
    float: right;
}
 
.pop_content {
    background-color: plum;
    position: relative;
    padding: 5%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid black;
}
  
.close {
    color: Black;
    float: right;
}
  
.close:hover {
    color: purple;
    cursor: pointer;
}

/* Button CSS in Current Plan*/
.buttons {
    display: flex;
}

button {
    background-color: #C4C4C4;
    border-style: none;
    color: black;
    border-radius: 24px;
    font-size: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    margin: 1rem;
    padding: 0.5rem;
}

.arrow-button {
    display: flex;
    align-items: center;
    background-color: Transparent;
    box-shadow: none;
}

.arrow {
    border: solid black;
    border-width: 0 15px 15px 0;
    padding: 10px;
}

.right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.left {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

footer {
    position: static;
}


/* Explore page CSS */
.explore-page {
    display: flex;
    flex-flow: column wrap;
}

.filter-by p:first-child {
    display: none;
}

.filter-by {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    color: black;
    margin-left: 1rem;
    border-radius: 12px;
    height: fit-content;
}

.filter-by p,
.filter-by label {
    margin: 1rem 1rem;
}

.plan-card {
    display: flex;
    flex-flow: column;
}

.filter-text button {
    font-size: 24px;
}

.aid-range-wrapper {
    display: none;
}

.explore-plan {
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    flex-flow: row wrap;
    border-radius: 12px;
    font-size: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    align-items: center;
}

.card-button {
    background-color: #B18CFF;
    color: white;
    font-size: 20px;
    margin-top: 1rem;
    margin-left: 2rem;
    height: 200px;
    width: 200px;
}

.college-wrapper label {
    display: none;
}

.explore-page p {
    margin: 1rem;
}

.explore-page button {
    padding: 0.5rem;
}

.college-wrapper input {
    height: 50px;
    width: 100%;
}

.navimage {
    border-radius: 0%;
    width: 3rem;
    height: 3rem;
}

@media (max-width: 598px) {
    nav a {
        font-size: 100%;
    }
}

@media (max-width: 800px) {
    .plan {
        justify-content: center;    
    }
    
    .card {
        flex-flow: column;
        align-items: center;
        width: 100%;
    }

    .card div {
        margin: 1%;
    }

    .title {
        margin: 1%;
    }

    .to-do {
        width: 80%;
    }

    .amount {
        width: 80%;
    }
}

/* Desktop Layout */
@media (min-width: 962px) {
    header h1 {
        position: relative;
        padding: 0.75rem;
        height: fit-content;
        margin-left: auto;
        margin-bottom: 0px;
        font-size: 1.5rem;
        display: inline;
    }

    nav a {
        font-size: 2rem;
    }

    /* main page */
    .text {
        display: flex;
        font-size: 1.25rem;
        align-items: center;
    }

    button {
        background-color: #B18CFF;
        color: white;
        border-radius: 12px;
    }

    .buttons button:last-child {
        position: relative;
        margin-top: 1rem;
        margin-left: 1rem;
        display: block;
    }

    .arrow-button {
        display: none;
    }

    .plan {
        flex-flow: row wrap;
        justify-content: center;
    }

    /* Explore page */
    .explore-plan {
        flex-flow: row;
    }

    .explore-page {
        flex-flow: row;
        justify-content: center;
    }

    .college-wrapper label,
    .filter-by p:first-of-type {
        position: relative;
        margin-top: 1rem;
        margin-left: 1rem;
        display: inline-block;
    }

    .filter-by button:first-of-type {
        display: none;
    }

    .filter-by {
        background-color: #B18CFF;
        color: white;
        flex-flow: column;
        align-items: unset;
        margin: 0.5rem;
    }

    .aid-range-wrapper {
        position: relative;
        margin-top: 0rem;
        margin-left: 1rem;
        display: block;
    }

    .college-wrapper input {
        height: 30px;
        width: 50%;
    }
}
